{%extends 'partials/base.html'%}
{% block title %} login page {% endblock title%}
{% block content %} 
<div class="container">
    <div class="row mt-5">
        <div class="col-md-6 offset-md-3">
            <div class='border p-3 bg-white'>
                <div class="border bg-white p-3">
                    {%for message in messages%}
                    {%if message %}
                     <div class="alert alert-{{message.tags}}">
                         {{message}}
                      </div>
                   {% endif %}  
                   {% endfor %}

                <h3>Login Page</h3>
                <hr>
                <form method='POST'>
                    {% csrf_token %}
                    <p>username</p>
                    <input type='text' name='username'/>
                    <p>email</p>
                    <input type='email' name='email'/>
                    <p>password:</p>
                   <input type='password' name='password'/>
                   <input type='submit' value="login"/>
                    <h5>if you're not registered please register first</h5>
                    <a class='btn btn-danger' href="{% url 'register'%}">register</a>
                </form>
            </div>
        </div>
    </div>
</div>











{% endblock content%}