{%extends 'partials/base.html'%}
{% block title %} Product page {% endblock title%}
{% block content %} 
{% include 'partials/topnav.html' %}
 <!--Table-->
 <div class="container">
    <div class="row my-4">
        <div class="col-md-4">
            <div class="border bg-white p-3">
               {%for message in messages%}
               {%if message %}
                <div class="alert alert-{{message.tags}}">
                    {{message}}
                 </div>
              {% endif %}  
              {% endfor %}
                <h4>Add Products</h4>
                <hr>
                <form method='post'>
                    {% csrf_token %}
                     {{addproduct}}

                    <input class="btn btn-success btn-block" type="submit" value="Add Product">

                </form>
            </div>
        {%for message in messages%}
        {%if message %}
         <div class="alert alert-{{message.tags}}">
             {{message}}
          </div>
       {% endif %}  
       {% endfor %}
        </div>
        
        <div class="col-md-8 ">
            <table class="table bg-white">
                <thead class="bg-info">
                    <tr class="text-white">
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">Category</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Activity</th>
                    </tr>
                </thead>
                <tbody>
                    {%for p in items%}
                    <tr>
                        <th scope="row"></th>
                        <td>{{p.name}}</td>
                        <td>{{p.catigory}}</td>
                        <td>{{p.quantity}}</td>
                        <td>
                            <a class="btn btn-info btn-sm" href="{%url 'dashboard-edit' p.id%}">Edit</a>
                            <a class="btn btn-danger btn-sm" href="{%url 'dashboard-delete' p.id%}">Delete</a>
                        </td>
                    </tr>
                   {%endfor%}
                </tbody>
            </table>
        </div>
    </div>

</div>



<!--End Table-->
{% endblock content%}